@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body{
    background-color: #ffffff;
    color:  rgb(0, 0, 0);
    font-family: "Nunito Sans", sans-serif;
    margin: 0px
}


.header-left {
    display:flex;
    flex-direction: row;
    
    
    
}


.header{
    display: flex;
    
}

.footer{
    display:flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 0px;
    border-radius: 50px;
    height: 70px;
    width:500px;
}

#footerfooter{
    display:flex;
    justify-content: space-evenly   ;
    
}




#logosAbajo{
    height: 30px;
    width: 30px;
    margin: 20px;
}

#logo1{
    height: 150px;
    width: 150px;
    margin-right: 0px;
}

#boton-services,#boton-proyects, #boton-experience{
  margin:45px 0px 0px 50px;
  background-color: #4fe0db;
  border: 2px solid #38bdb9;
  font-family: "Nunito Sans", sans-serif;
  border: 0px solid ; 
  border-radius: 50px;
  font-size: 20px;
  padding: 12px 24px; 
  width: 170px;
  height: 60px;
  cursor: pointer; /* El cursor se convierte en una mano cuando se pasa sobre el botón */
  transition: background-color 0.3s; /* Efecto de transición suave al cambiar el color de fondo */
}

#boton-services:hover,#boton-proyects:hover, #boton-experience:hover {
  background-color: #38bdb9;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  background-color: #f7f7f7; /* O cualquier color que combine con tu diseño */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin: auto;
  max-width: 1200px;
}

#home-image-container {
  /* Añade estilos para la imagen, como un borde o una sombra si lo deseas */
  max-width: 300px; /* O el tamaño que prefieras */
  border-radius: 50%; /* Si quieres que la imagen sea redonda */
  overflow: hidden; /* Para asegurarte de que nada se desborde del contenedor */
}

#yo {
  width: 100%;
  height: auto;
  display: block;
}

#home-content {
  text-align: left;
}

#home-content h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

#home-content h2 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #4fe0db; /* O el color que prefieras */
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #38bdb9; /* Un tono más oscuro para el efecto hover */
}


#contactame{
    background-color: transparent;
    border-radius: 50px;
    width:150px;
    height:80px;
    font-size: 20px;    
    border: 0px;
    font-family: "Nunito Sans", sans-serif;
    background-color: #4fe0db;
    border: 2px solid #38bdb9;
    cursor: pointer; /* El cursor se convierte en una mano cuando se pasa sobre el botón */
    transition: background-color 0.3s;
}

#contactame:hover{
  background-color: #38bdb9;
}

#experience {
  background-color: #ffffff; /* Puedes elegir el color de fondo que desees */
  padding: 40px;
  text-align: center;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.experience-category {

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 100px;
  margin-bottom: 20px;
}

.experience-title {
  color: #333;
  margin-bottom: 15px;
}

.languages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.language-logo {
  max-width: 60px; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  padding: 5px; /* Agrega algo de espacio alrededor de las imágenes para que no se toquen */
}

@media (max-width: 768px) {
  .experience-category {
      flex-basis: 100%; /* En pantallas más pequeñas, cada categoría ocupa todo el ancho */
  }
}

#services{
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50px;
}   

#proyects{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*services*/

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 40px;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.services-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.service-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px; /* Añade un relleno para crear espacio alrededor del contenido */
  background-color: #fff; /* Añade un color de fondo para cada servicio */
  border-radius: 10px; /* Redondea las esquinas del cuadro de servicio */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Añade una sombra para dar profundidad */
  width: 100%; /* Utiliza el 100% del ancho de su contenedor padre */
}

/* Ajustes para que la sombra y el fondo no apliquen al contenedor principal */
.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
  background-color: transparent; /* Asegúrate de que el fondo sea transparente */
  border-radius: 0; /* No redondees las esquinas del contenedor principal */
  box-shadow: none; /* Elimina la sombra del contenedor principal */
}


.service-item div {
  text-align: left;
}

.service-icon {
  width: 50px; /* Ajusta el tamaño de las imágenes según necesites */
  height: auto;
}

.service-heading {
  font-size: 1.5rem;
  color: #2c3e50;
  margin: 0 0 10px 0;
}

.service-item p {
  font-size: 1rem;
  line-height: 1.6;
  color: #7f8c8d;
  margin: 0;
}


/* ESTA ES LA PARTE DEL HAMSTER  -------------------------------------------------------------------------------*/


.wheel-and-hamster {
    --dur: 1s;
    position: relative;
    width: 12em;
    height: 12em;
    font-size: 14px;
  }
  
  .wheel,
  .hamster,
  .hamster div,
  .spoke {
    position: absolute;
  }
  
  .wheel,
  .spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .wheel {
    background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
    z-index: 2;
  }
  
  .hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em,1.85em);
    transform-origin: 50% 0;
    z-index: 1;
  }
  
  .hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    background: hsl(30,90%,55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
          0.75em -1.55em 0 hsl(30,90%,90%) inset;
    top: 0;
    left: -2em;
    width: 2.75em;
    height: 2.5em;
    transform-origin: 100% 50%;
  }
  
  .hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hsl(0,90%,85%);
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
  }
  
  .hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0,0%,0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
  }
  
  .hamster__nose {
    background: hsl(0,90%,75%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em;
    height: 0.25em;
  }
  
  .hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hsl(30,90%,90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
          0.15em -0.5em 0 hsl(30,90%,80%) inset;
    top: 0.25em;
    left: 2em;
    width: 4.5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
  }
  
  .hamster__limb--fr,
  .hamster__limb--fl {
    clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
  }
  
  .hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
    transform: rotate(15deg) translateZ(-1px);
  }
  
  .hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
    transform: rotate(15deg);
  }
  
  .hamster__limb--br,
  .hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
  }
  
  .hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
    transform: rotate(-25deg) translateZ(-1px);
  }
  
  .hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
    transform: rotate(-25deg);
  }
  
  .hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0,90%,85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
  }
  
  .spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
          linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
  }
  
  /* Animations */
  @keyframes hamster {
    from, to {
      transform: rotate(4deg) translate(-0.8em,1.85em);
    }
  
    50% {
      transform: rotate(0) translate(-0.8em,1.85em);
    }
  }
  
  @keyframes hamsterHead {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(8deg);
    }
  }
  
  @keyframes hamsterEye {
    from, 90%, to {
      transform: scaleY(1);
    }
  
    95% {
      transform: scaleY(0);
    }
  }
  
  @keyframes hamsterEar {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(12deg);
    }
  }
  
  @keyframes hamsterBody {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-2deg);
    }
  }
  
  @keyframes hamsterFRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(50deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-30deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterFLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-30deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(50deg);
    }
  }
  
  @keyframes hamsterBRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-60deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(20deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterBLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(20deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-60deg);
    }
  }
  
  @keyframes hamsterTail {
    from, 25%, 50%, 75%, to {
      transform: rotate(30deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(10deg) translateZ(-1px);
    }
  }
  
  @keyframes spoke {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(-1turn);
    }
  }